In [1]:
import pandas as pd 
df = pd.read_excel("Book1.xlsx", "Sheet1")
df
df_mean = df["GPA"].mean()
print (df_mean)

2.38875

In [2]:

MaFe_list = df['Gender'].tolist()
print(MaFe_list)
f_count = MaFe_list.count('F')
m_count = MaFe_list.count('M')

print("TOTAl no of Males are = " ,m_count)
print("TOTAl no of Females are = " ,f_count)

['M', 'M', 'F', 'M', 'F', 'F', 'M', 'F', 'F', 'F', 'M', 'M', 'F', 'F', 'F', 'F']
TOTAl no of Males are =  6
TOTAl no of Females are =  10

In [3]:
agelist = df['Age'].tolist()
print(agelist)

df.loc[df['Age'] > 20]

[18, 22, 21, 19, 21, 20, 20, 18, 20, 18, 22, 19, 19, 19, 21, 22]

       ID  Age Gender  District  SATV  SATM   GPA
1   62516   22      M         5   670   496  1.11
2   55509   21      F        54   639   439  2.68
4   36387   21      F        36   620   306  2.16
10  48552   22      M        63   260   498  3.24
14  34689   21      F        42   585   708  1.80
15  32763   22      F        20   556   787  1.18

In [5]:
ID_new = 55509   ### if you want to check wheather new data ads in data frame or not then simple check it by changing id only   
Age = 24
Gender = 'M'
District = 33
SATV  = 345
SATM = 787
GPA = 3.23

if any(df['ID'] == ID_new):
    print('ID already exists.')
else:
    df.loc[len(df)] = [ID_new, Age, Gender, District, SATV, SATM, GPA]
    print('New ID added to dataframe.')
    
print(df)

ID already exists.
       ID  Age Gender  District  SATV  SATM   GPA
0   54419   18      M        38   368   253  3.52
1   62516   22      M         5   670   496  1.11
2   55509   21      F        54   639   439  2.68
3   36489   19      M        49   368   465  3.11
4   36387   21      F        36   620   306  2.16
5   95507   20      F        13   512   593  2.83
6   16360   20      M        52   621   377  2.79
7   12838   18      F        44   571   544  2.13
8   73450   20      F        59   647   746  2.08
9   26869   18      F        28   337   371  2.28
10  48552   22      M        63   260   498  3.24
11  23416   19      M        51   476   294  2.31
12  42635   19      F        35   677   241  3.19
13  67448   19      F        55   335   533  1.81
14  34689   21      F        42   585   708  1.80
15  32763   22      F        20   556   787  1.18